:root {
  --background-color: hsl(199, 100%, 82%);
  --main-color: #e03;
  --text-color: hsl(226, 52%, 27%);
  --active-tab-text-color: hsla(226, 52%, 27%, .7);

  --max-width: 820px;
  --page-padding: 12px;
  --nav-width: 235px;
  --grid-gap: 80px;
  --main-column-width: calc(var(--max-width) + var(--page-padding) * 2);
  --side-column-width: calc(var(--nav-width));
  --two-columns-width: calc(var(--max-width) + var(--page-padding) * 2 + var(--grid-gap) + var(--nav-width));
  --three-columns-width: calc(var(--nav-width) + var(--grid-gap) + var(--two-columns-width));
  --code-fonts: Consolas, monospace;

  counter-reset: footnote;

  -webkit-text-size-adjust: none;
  font: 23px/1.4 system-ui, Segoe UI, sans-serif;
}

body {
  background-color: var(--background-color);
  overflow-y: scroll;
  margin: 0;

  --header-padding-y: 8px;
  --header-logo-size: 32px;
}

.header {
  --margin: 12px;
  background: linear-gradient(#D1F1FF, #C8EEFF);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .0925);
  position: fixed;
  width: 100%;
  --blur: 12px;
  /* Backdrop-filter on a fixed element is janky on Android, so we only enable it on iOS (-webkit-backdrop-filter) and desktop. */
  z-index: 1; /* Over social proof’s filter */
}

@supports (-webkit-backdrop-filter: blur(1px)) {
  .header {
    background: linear-gradient(hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .4));
    -webkit-backdrop-filter: blur(var(--blur));
  }
}

@supports (backdrop-filter: blur(1px)) {
  @media (hover: hover) {
    .header {
      background: linear-gradient(hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .4));
      backdrop-filter: blur(var(--blur));
    }
  }
}

.header__container {
  padding: var(--header-padding-y) var(--page-padding);
  margin: auto;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 1250px) and (MAX-width: 1549px) {
  .header__container {
    max-width: var(--two-columns-width);
    box-sizing: border-box;
  }
}

.header__logo-container {
  width: var(--header-logo-size);
  height: var(--header-logo-size);
  margin-right: var(--margin);
}

.header__title {
  margin: 0;
  font-weight: 600;
  letter-spacing: .01em;
  color: var(--main-color);
  font-size: 24px;
  line-height: 1;
  margin-bottom: 4px;
}

.header__title-dot {
  opacity: .375;
}

.header-ghost {
  padding: var(--header-padding-y) 0;
  height: var(--header-logo-size);
}

.main-grid {
  display: grid;
  grid-gap: calc(var(--grid-gap) / 2);
  margin: auto;
  grid-template-areas: "main" "aside";
}

@media (MAX-width: 1249px) {
  .main-grid {
    max-width: var(--main-column-width);
  }
}

@media (min-width: 1250px) {
  .main-grid {
    grid-template-areas: "main aside";
    grid-template-columns: var(--main-column-width) var(--side-column-width);
    grid-gap: var(--grid-gap);
    width: var(--two-columns-width);
  }
}

@media (min-width: 1550px) {
  .main-grid {
    grid-template-areas: "_ main aside";
    grid-template-columns: var(--side-column-width) var(--main-column-width) var(--side-column-width);
    width: var(--three-columns-width);
  }
}

.content {
  grid-area: main;
  max-width: var(--max-width);
  margin: auto;
  color: var(--text-color);
  padding: 0 var(--page-padding);
}

@media (MAX-width: 1249px) {
  .content {
    width: calc(100vw - var(--page-padding) * 2); /* I have no idea why that’s needed */
  }
}

.content > .title {
  font-weight: 600;
  font-size: 1.85em;
}

@media (MAX-width: 599px) {
  .content > .title {
    font-size: 1.6em;
  }
}

.content > .h1--landing {
  font-size: 2.3em;
  text-align: center;
}

@media (MAX-width: 599px) {
  .content > .h1--landing {
    font-size: 32px;
  }
}

.h1__emphasis {
  color: var(--main-color);
  font-style: normal;
  white-space: nowrap;
}

.content > p {
  margin: 1.15em 0;
}

.cta-widget {
  background: linear-gradient(hsla(0, 0%, 100%, .775), hsla(0, 0%, 100%, .7));
  border-radius: 6px;
  padding: 10px 18px 17px;
  margin: 1.5em 0;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 1)
            , 0 3px 20px hsla(0, 0%, 0%, .1);
}

.cta-widget__body-closing-emphasis {
  font-weight: 600;
}

.main-code-snippet {
  border: 1px solid hsla(0, 0%, 0%, .15);
  border-radius: 1px;
  background: hsla(0, 0%, 0%, .075);
  padding: 0px 8px 5px;
  margin: 10px 0;
  overflow-x: auto;
  font-size: .95em;
}

.main-code-snippet__code {
  font-size: .8em;
  letter-spacing: .02em;
  color: hsl(180, 7%, 55%);
  font-family: var(--code-fonts);
}

.main-code-snippet__tagName {
  color: #268BD2;
}

.main-code-snippet__attribute-name {
  color: hsl(180, 7%, 50%);
}

.main-code-snippet__attribute-separator {
  color: #657B83;
}

.main-code-snippet__attribute-value {
  color: #2AA198;
}

.main-code-snippet__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

.cta__widget__copied-cta {
  font-size: .8em;
  margin-top: .35em;
  display: none;
}

.cta__widget__copied-cta--displayed {
  display: block;
}

.social-proof {
  margin: 1.5em 0;
  background: hsla(0, 0%, 100%, .33);
  border-radius: 4px;
  overflow-x: scroll;
}

.social-proof__title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8em;
  margin: .25em 0;
  text-indent: 10px;
  opacity: .875;
}

.social-proof__grid {
  display: flex;
  margin-bottom: 1em;
}

.social-proof__item {
  --width: 112px;
  --height: 75px;
  text-decoration: none;
  margin-left: calc(var(--height) / 5);
}

@media (MAX-width: 599px) {
  .social-proof__item {
    --width: 75px;
    --height: 50px;
  }
}

.social-proof__item-main {
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-proof__item-main--more {
  padding-right: calc(var(--height) / 5);
  font-size: .85em;
  text-align: center;
}

@media (MAX-width: 599px) {
  .social-proof__item-main--more {
    font-size: .65em;
  }
}

.social-proof__item-main-img {
  max-width: var(--width);
  max-height: var(--height);
}

.button {
  background: linear-gradient(hsla(0, 0%, 95%, 1), hsla(0, 0%, 90%, 1));
  border: 1px solid;
  --border-color-opacity: .25;
  --border-color: hsla(0, 0%, 25%, var(--border-color-opacity)) hsla(0, 0%, 10%, var(--border-color-opacity)) hsla(0, 0%, 0%, var(--border-color-opacity));
  border-color: var(--border-color);
  border-radius: 4px;
  padding: 4px 10px;
  --light-opacity: 1;
  --shadow-opacity: .05;
  --shadow-blur-radius: 1px;
  --box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--light-opacity))
              , 0 1px var(--shadow-blur-radius) hsla(0, 0%, 0%, var(--shadow-opacity)); /* An intermediate variable is needed for Safari */
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 16px;
}

.button--cta {
  background: radial-gradient(ellipse at top, hsla(0, 0%, 100%, .25), transparent)
            , linear-gradient(hsla(347, 100%, 47%, .65), hsla(347, 100%, 47%, 1));
  color: white;
  text-shadow: 0 1px 1px hsla(0, 0%, 0%, .25);
  --light-opacity: .2;
  --border-color-opacity: .25;
  vertical-align: top;

  font-size: .8em;
  padding: 7px 14px;
  border-radius: 7px;
  --shadow-opacity: .25;
  --shadow-blur-radius: 3px;
  font-weight: 700;
  letter-spacing: .01em;
}

.button--github {
  --size: .75rem;
  font-size: var(--size);
  text-decoration: none;
  border-radius: 6px;
  color: inherit;
  padding: 1px 7px 2px;
  box-shadow: none;
}

.button__github-logo {
  width: var(--size);
  height: var(--size);
  vertical-align: middle;
  margin-bottom: 4px;
}

.content > h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 1.1em;
}

.content > h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 1.1em;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6 {
  scroll-margin-top: 55px;
}

.content a {
  color: inherit;
}

.content b {
  font-weight: 600;
}

.click-test-results {
  font-size: .85em;
}

.click-test-results__delay {
  font-weight: 600;
}

.code {
  border: 1px solid hsla(0, 0%, 0%, .25);
  background: hsla(0, 0%, 0%, .075);
  border-radius: 3px;
  padding: .075em .25em;
  font-size: .9em;
  font-family: var(--code-fonts);
}

@media (MAX-width: 1249px) {
  .cta-menu--large {
    display: none;
  }
}

@media (min-width: 1250px) {
  .cta-menu--narrow {
    display: none;
  }
}

.footnote-button {
  vertical-align: super;
  cursor: pointer;
  margin: -6px -10px;
  padding: 6px 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.footnote-button::before {
  counter-increment: footnote;
  content: counter(footnote);
  background: linear-gradient(hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .35));
  border-radius: 3px;
  font-size: .8em;
  padding: 0px 5px 1px;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, .125)
            , inset 0 1px 0 hsla(0, 0%, 100%, .1);
}

.footnote-button--activated::before {
  background: linear-gradient(hsla(0, 0%, 100%, .35), hsla(0, 0%, 100%, .45));
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, .125);
}

.footnote-content {
  display: none;
}

.footnote-content--displayed {
  display: block;
  background: hsla(0, 0%, 100%, .3);
  padding: 0 .2em;
  font-size: .85em;
  border-radius: 3px;
}

.nielsen-quote strong {
  font-weight: 600;
}

h2 small {
  font-size: .667em;
  font-weight: normal;
}

.aside {
  grid-area: aside;
  width: var(--nav-width);
}

@media (MAX-width: 1249px) {
  .aside {
    margin: auto;
  }
}

@media (min-width: 1250px) {
  .aside__container {
    position: fixed;
    width: inherit;
  }
}

.nav {
  margin-bottom: 1em;
}

@media (min-width: 1250px) {
  .nav:first-child {
    margin-top: 2em;
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  background: hsla(0, 0%, 100%, .375);
  width: 100%;
  padding: .2em 0;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1),
              0 2px 5px hsla(0, 0%, 0%, .04);
  --padding-y: .4rem;
  --padding-x: 1rem;
}

@media (hover: hover) {
  .nav__container {
    padding: .1em 0;
    --padding-y: .2rem;
    --padding-x: .625rem;
  }
}

.nav__link {
  color: inherit;
  text-decoration: none;
  padding: var(--padding-y) var(--padding-x);
  position: relative;
  font-size: .9em;
}

.nav__link:not(:first-child) {
  border-top: 1px solid hsla(0, 0%, 0%, .075);
}

@media (hover: hover) {
  .nav__link:hover {
    background: hsla(0, 0%, 100%, .175);
  }
}

.nav__link--active {
  color: var(--active-tab-text-color);
}

.nav__title {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .625em;
  letter-spacing: .05em;
  opacity: .85;
  padding: .15rem var(--padding-x);
  border-top: 1px solid hsla(0, 0%, 0%, .04);
  background: hsla(0, 0%, 0%, .05);
  cursor: default;
}

.external-link-icon {
  --size: 14px;
  width: var(--size);
  height: var(--size);
}

.github-container {
  text-align: center;
}

.footer {
  margin-top: 1.75rem;
  font-size: .8em;
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 1250px) {
  .footer {
    margin-top: .5rem;
  }
}

.footer__link {
  color: inherit;
}

.twitter-follow-button {
  background: #1b95e0;
  color: #fff;
  border-radius: 4px;
  padding: 1px 8px 1px 6px;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0 1px 0 hsl(203, 88%, 30%);
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, .1);
  margin-left: 3px;
  display: inline-block;
}

.twitter-follow-button:active,
.twitter-follow-button:hover {
  background: #0c7abf;
}

.twitter-follow-button__image {
  --size: 14px;
  width: var(--size);
  height: var(--size);
  position: relative;
  top: 2px;
  filter: drop-shadow(0 1px 0 hsl(203, 88%, 30%));
}

.floating-logo {
  display: none;
}

@media (min-width: 1550px) {
  .floating-logo {
    --size: 400px;
    --offset: -45px;
    display: block;
    position: fixed;
    top: 75px;
    left: var(--offset);
    block-size: var(--size);
    opacity: .5;
    border-radius: 999px;
    transition: all .5s;
  }
}

@media (min-width: 1900px) {
  .floating-logo {
    --size: 500px;
    --offset: -30px;
  }
}

.floating-logo--page-scrolled {
  opacity: .05;
  filter: grayscale(.4);
}
